
body{
    background-color:#272727;
}

.form_car{
    margin-top: 50px;   
}

.table{
    /*position: absolute;
    float: right;*/
    right: 45%;
    margin-top: 100px;
}


.error_mesage{
    color:red;
}

.ccd {
    height: 95px;
    overflow: hidden;
    width: 60%;
    margin:0 auto;
    position: relative;
}

.info_about_auto{
    font-size: 25px;
    color:rgb(173, 193, 246)
}

.button{
    color:hsl(193, 100%, 50%);
    padding: 5px 8px;
    width:100px;
    text-decoration:none;
    text-align:center;
    
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#e100ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 200 12px tahoma;
    border: 1px solid #00C6FF;
   }
   .button:hover {
   background-position: 0 0;
   color:#fff;
   }

   .button_delete{
    color:hsl(0, 95%, 71%);
    padding: 5px 8px;
    width:100px;
    text-decoration:none;
    text-align:center;
    margin:0px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#e100ff 50%,#00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 200 12px tahoma;
    border: 1px solid #00C6FF;
   }
   .button_delete:hover {
   background-position: 0 0;
   color:#fff;
   }

   .find{
    /*color: rgb(253, 30, 30);*/
    text-align: center;
    border : 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    }
  
  form input.error{
      border-width: 2px;
      border-color: red;
  }

  form input.error{
      border-width: 2px;
      border-color: red;
  }
/*----------------------------------------------------------------*/
/*Заголовки*/
h2{
    color:rgb(40, 114, 251);
    padding-right:30px;
    font-size: 40px;
}
h3{
    color:yellow;
}
.info_car{  /*инфо о машине*/
    /*background-color:white;*/
    min-height: 200px;
    width: 30%;
    float: left;
    
}
.img_car{   /*картинка*/
    /*background-color:gray;*/
    min-height: 200px;
    width: 29%;
    float: left;
}
 .feedback{
    color: #f5a6f8; 
    border-bottom: 1px dashed; 
 }
 .text_feedback{
     color:#fff;
     
 }

 /*.table_complate{
    min-height: 150px;
    color:white;
    width: 50%;
    float: left;
    border: 3px solid rgb(40, 114, 251);
 }*/
 .f{
     min-height: 200px;
     width: 40%;
    float: left;
    border: 3px solid rgb(40, 114, 251);
    color:rgb(173, 193, 246)
 }
 .table_adress{
     color:white;
     width: 100%;
 }
 .cell{ /*ячейка таблица*/
    color:rgb(0, 75, 29);
    background-color: rgb(88, 104, 248);
    border: 3px solid rgb(177, 203, 250);

}
/*----------------------------------------------------------------*/
.name_user{
    min-width: 5%;
    float: left;
    color:#ffd700;
    font-size:20px;
    

    
}
.text{
    color:rgb(173, 193, 246);
    width: 100%;
    
}
.mark{
    min-width: 95%;
    float: left;
    color:white;
    font-size:20px;
    
}

.form_input_revie{
    color:white;
    
    
}
